<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/static/css/styleform.css">
</head>
<body>
    <div class="box" style="height: 600px;"><br>
        <h1 style="color: white;font-family: serif;">ADD PRODUCTS</h1><br>
    
        {% if messages %}
        {% for i in messages %}
        {{i}}
        {% endfor %}
        {% endif %}
        <form action="" method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            <input type="text" name="name" value="{{update.Name}}" style="font-family: serif;font-weight: bolder;width: 400px;height: 40px;"><br><br><br>
            <input type="text" name="companyname" value="{{update.Companyname}}" style="font-family: serif;font-weight: bolder;width: 400px;height: 40px;"><br><br><br>
            <input type="text" name="price" value="{{update.Price}}" style="font-family: serif;font-weight: bolder;width: 400px;height: 40px;"><br><br><br>
            <label for="image" style="margin-left: 40px;">Upload Product Image:</label>
            <input type="file" name="image" value="{{update.Image}}" style="text-align: center;border-radius: 10px 10px 10px 10px ;"><br><br><br>
            <input type="submit" value="SUBMIT" style="background-color: blue;color: whitesmoke; width: 200px;height: 40px;text-align: center;border-radius: 10px 10px 10px 10px ;"><br><br><br>
            

        </form>
        <a href="/views"><button  style="background-color: green;color: whitesmoke; width: 200px;height: 40px;text-align: center;border-radius: 10px 10px 10px 10px ;">Click to View </button></a>

    </div>
    
</body>
</html>